table,
tr,
td {
  border: 1px solid orange;
  background-color: white;
  color: black;
}

tr,
td {
  padding: 5px;
}

.DisplayTable {
  display: block;
  max-height: 25rem;
  overflow-y: scroll !important;
}
