.mainMeni {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 7vw;
  z-index: 9;
  border-bottom: 1px solid white;
  overflow-x: hidden;
  padding: 1rem 0;
}

.meni_container {
  display: flex;
  gap: 4vw;
}

.meni_container a {
  font-family: "Jost";
  font-weight: normal;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
